@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: #264653;
    --secondary-color: #383838;
    --accent-color: #E76F51;
    --hover-accent-color: #e76f51ea;
    --light-color: #fff;
    --hover-light-color: #ffffffc2;
    --dark-color: #000;
}
/* Initial Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", serif;
    font-size: 16px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--light-color);
    font-weight: 300;
    transition: color 0.3s;
}
a:hover {
    color: var(--hover-light-color);
}
h1 {
    font-size: 48px;
    font-weight: bold;
    color: var(--light-color);
    margin: 0.5rem 0;
}
h2 {
    font-size: 48px;
    font-weight: bold;
    color: var(--dark-color);
    text-align: center;
    margin-bottom: 2rem;
}
h4 {
    font-size: 28px;
    font-weight: 500;
    color: var(--dark-color);
}
p, small {
    font-weight: 300;
    font-size: 14px;
}
i {
    color: var(--accent-color);
}
button {
    border: none;
    background-color: var(--accent-color);
    color: var(--light-color);
    border-radius: 0.15rem;
    cursor: pointer;
    transition: all 0.3s;
}
button:hover {
    background-color: var(--hover-accent-color);
}
.container {
    width: 1140px;
    margin: 0 auto;   
    padding: 1rem 0;
}
/* Header Section */
.width-full {
    background-color: var(--primary-color);
}
.nav-bar {
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
}
.nav-links {
    display: flex;
    gap: 2.5rem;
}
.btn-primary {
    padding: 0.5rem 1.5rem;
}
/* Banner Section */
.banner {
    display: flex;
    gap: 15rem;
    align-items: center;
    margin: 3rem 0;
}
.banner-left {
    color: var(--light-color);
}
.banner-description {
    margin-bottom: 1rem;
}
/* Feature Section */
.feature {
    text-align: center;
    padding: 3rem 0;
}
.feature p {
    display: inline-block;
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
}
.bike-collections {
    margin-top: 3rem;
    display: flex;
    gap: 3rem;
    align-items: center;
}
.bike-img {
    width: 100%;
}
/* Latest News */
.latest {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 1rem;
}
.news {
    box-shadow: 0px 0px 5px #3838382e;
    padding: 1rem;
    border-radius: 0.3rem;
}
.latest-desc {
    margin-bottom: 1.5rem;
}
.read-more {
    display: inline-block;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    transition: all 0.3s;
}
.read-more:hover {
    background-color: var(--accent-color);
    color: var(--light-color);
}
/* Clients Section */
.clients-title {
    color: var(--accent-color);
}
.clients-happy {
    margin-top: 5rem;
}
.user {
    text-align: center;
    padding: 2rem;
}
.user-img {
    width: 8rem;
}
.user-desc {
    margin: 0.5rem 0;
}
.user-name {
    color: #23A6F0;
    margin: 0.5rem 0;
    font-weight: 500;
}
.job-title {
    font-weight: 500;
}
/* FQA Section */
.fqa {
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.fqa-cover {
    margin-bottom: 1rem;
    border: 1px solid #38383817;
    padding: 1rem;
}
.fqa-head {
    display: flex;
    gap: 2rem;
    cursor: pointer;
}
.caret-col {
    font-size: 1.2rem;
    color: var(--dark-color);
}
.fqa-title {
    margin-bottom: 0.5rem;
}
.fqa-img {
    width: 35rem;
}
.fqa-desc {
    color: #7E848C
}
.fqa-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}